body{
    background-color: white;
    font-family: monospace, 'Courier New', Courier;
    background-color: #b4f1a5;
}

.section{
    margin-left: 30px;
    margin-bottom: 20px;
}
.heading{
    text-decoration: underline;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
}
.key{
    margin-left: 20px;
    margin-bottom: 3px;
}
.tittle{
    font-size: 18px;
}
.value{
    text-transform: capitalize;
    color: blue;
    font-size: 16px;
}
.motorState{
    text-decoration: none;
    color: red;
}

.callingBell {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    color: white;
    background: #4CAF50;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 6px 6px 10px #bebebe,
                -6px -6px 10px #ffffff;
    transition: all 0.3s, ;
}
.callingBell:hover {
    background-color: #ffffff;;
    color: red;
    box-shadow: inset 6px 6px 10px #4CAF50,
              inset -6px -6px 10px #4CAF50;
}
.callingBell:active {
    background-color: yellow;
}
